body{
    font-family:sans-serif;
}

#problemList{
    overflow-y:scroll;
    height:300px;
}

.problem{
    border:1px solid #ccc;
}

.problemDetails{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.problemTags{
    text-align:center;
}


.ratingInput{
    width:50px;
}

#problemSearch{
    border:1px solid black;
}

#submissionsTable :is(th,td){
    border:1px solid black;
    width:180px;
}
#submissionsTable{
    border-collapse:collapse;
}

.probTag{
    display:inline-block;
    border:1px solid black;
    border-radius:7px;
    position:relative;
    padding:2px 2px 2px 2px;
    margin:2px 0 2px 2px;
}
.probTag.userTag{
    background-color:#eee;
    padding:2px 12px 2px 2px;
}
.removeTag{
    display:block;
    float:right;
    width:5px;
    height:5px;
    background-color:red;
    margin:auto;
    position:absolute;
    right:5px;top:0;bottom:0;
}
